# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build
dist/
build/
out/

# Environment
.env
.env.local
.env.*.local

# VSCode
.vscode/
.history/

# Sistema operativo
.DS_Store
Thumbs.db

# Otros
*.log
